@font-face {
  font-family: 'iconfont';  /* project id 1286275 */
  src: url('//at.alicdn.com/t/font_1286275_sngiew5nfhn.eot');
  src: url('//at.alicdn.com/t/font_1286275_sngiew5nfhn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1286275_sngiew5nfhn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1286275_sngiew5nfhn.woff') format('woff'),
  url('//at.alicdn.com/t/font_1286275_sngiew5nfhn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1286275_sngiew5nfhn.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xialajiantou:before {
  content: "\e638";
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
  border-radius: 0;
    border: 0;
    font: 14px/19px "FZLTHJW--GB1-0","PingFang-SC-Regular","Microsoft YaHei", "lucida grande", "lucida sans unicode", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",Arial, Helvetica, sans-serif;
}
body{
	padding: 0;
	margin: 0;
}
button::after {
  border: none
}
page{
  background: #ffffff;
  height: 100%;
  /*display: flex;*/
  /*display: -webkit-flex;*/
  color: #666666;
  font-size: 26rpx;
  /*flex-direction: column;*/
}

input,select,textarea{
    -webkit-appearance: none!important;
}

body,
html,
li,
input,
gloabl,
h2,
th,
input,
nav,
td,
h1,
embed,
blockquote,
ol,
xml,
div,
dl,
dt,
dd,
ul,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
abbr,
p,
header,
hgroup,
Section,
figure,
section,
nav,
article,
aside,
canvas {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	padding: 0;
    width: 100%;
    height:100%;
    max-width: 100%;
	margin: 0;
}
a {
	font-size: 100%;
	border: 0;
	color: #333;
	text-decoration: none;
}
ol,
ul,
li {
	list-style: none;
}

input,textarea{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  	-webkit-appearance: none;
},
input{
	height: 100rpx !important;
}



/** html .clearfix {*/
	/*height: 1%;*/
/*}*/
/**+html .clearfix {*/
	/*min-height: 1px;*/
/*}*/


/* -------左右抖动 CSS3----------  */

.LRShake{
 -webkit-animation: shake 1s ease both;
   animation: shake 1s ease both;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
/* -------左右抖动 CSS3 end----------  */


/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section {
    margin:0;padding:0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,menu,nav,section {
    display:block;
}

input,select,textarea,button{
    font-size:100%;
    outline: none;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table{
    border-collapse:collapse;
    border-spacing:0;
}
/* IE bug fixed: th 不继承 text-align*/
th{
    text-align:inherit;
}
/* 去除默认边框 */
fieldset,img{
    border:0;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
    border:0;font-variant:normal;
}
address,caption,cite,code,dfn,em,th,var,u {
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}
/* 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}
a:hover{
    text-decoration: none;
}
a{color:#666;}
/* 清理浮动 */
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
    zoom:1; /* for IE6 IE7 */
}
















